@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background: radial-gradient(circle, transparent 25%, #403d3d  26%),linear-gradient(45deg, transparent 46%, #54535f 47%, #54535f 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #54535f 47%, #54535f 52%, transparent 53%);
    background-size: 3em 3em;
    background-color: #403d3d;
    opacity: 1;
}

.header {
	background-color: #54535f;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header.h1{
    color: linear-gradient(-135deg,#98979F, #E76D36);
}

nav ul {
	display: flex;
}

nav li {
	margin-right: 20px;
	list-style: none;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

/* .container {
	margin: 20px;
} */

.container h1{
    font-size: 40px;
    font-weight: 500;
    position: relative;
	color: #f3f3f3;
}
.container{
    max-width: 700px;
    background: rgba(255, 255, 255, 0.5);
    padding: 25px 30px;
    border-radius: 5px;
    margin: auto;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container h1::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#98979F, #E76D36);
}
/* #98979F */
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-top: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #E76D36;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 14px 0;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px s0lid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #E76D36;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg,#98979F, #E76D36);
}
form .button input:hover{
    background: linear-gradient(-135deg,#98979F, #E76D36);
}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #54535f;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-bottom{
	background:#000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}