*{
    font-family: 'poppins', sans-serif;
    color: aliceblue;
}

body{
    overflow: hidden;
    background: radial-gradient(circle, transparent 25%, #403d3d  26%),linear-gradient(45deg, transparent 46%, #54535f 47%, #54535f 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #54535f 47%, #54535f 52%, transparent 53%);
    background-size: 2em 2em;
    background-color: #403d3d;
    opacity: 1;
}

img{
    width: 220px;
    margin-top: 1%;
    margin-left: 2%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 10px;
}

span{
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin-bottom: 10%;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.1);
}

i{
    position: relative;
    top: -33px;
    left: 17px;
}

::-webkit-input-placeholder{
    color: #fff;
}

.submit{
    border: none;
    color: black;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: .3s;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.2);
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:larger;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

.admin-login{
    padding: 10px 0 0 30px; 
}

.btn{
    /* top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    background-color: #f1f1f1; 
    color: black;
    /* font-size: 16px; */
    /* padding:20px 10px 16px 30px; */
    background: rgba(255, 255, 255, 0.4);
    border: none; 
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    height: 45px;
    /* outline: none; */
    transition: .3s;
}

.btn:hover{
    background-color: #E76D36;
    color: #f1f1f1;
}